.container{
    display: flex;
    flex-direction: column;
}
.container2{
    display: flex;
    flex-direction: row;
}
.container3{
    display: flex;
    flex-direction: column;
}
.container4{
    display: flex;
    flex-direction: row;
}
.container5{
    display: flex;
    flex-direction: column;
    order:1;
}
.box1 {
    width: 400px;
    height: 100px;
    background-color: #141f40;
}
.box2 {
    width: 150px;
    height: 250px;
    background-color: #80bfa8;
}
.box3 {
    width: 150px;
    height: 50px;
    background-color: #dbd400;
}
.box4 {
    width: 150px;
    height: 100px;
    background-color: #0093b7;
}
.box5 {
    width: 100px;
    height: 150px;
    background-color: #ff9e6b;
}
.box6 {
    width: 250px;
    height: 100px;
    background-color: #8c2727;
}
.box7 {
    width: 400px;
    height: 100px;
    background-color: #d98d30;
}