body {
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgb(248, 250, 252);
    color: black;
}
label {
    margin: 0;
    padding: 20px;
}
.navbar-laravel {
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.navbar-brand {
    color: black !important;
}

.nav-link {
    color: black !important;
}

.table-dark {
    color: #fff;
}

.list-group-item {
    border-color: #fff;
    background-color: #000;
}

.login-box {
    background-color: rgba(0, 0, 0, 0);
}

.login-header {
    background-color: rgba(0, 0, 0, 0.25);
}

.login-body {
    background-color: rgba(0, 0, 0, 0.25);
}
.postContainer {
    margin-top: 10px;
}
